<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grathana OCR -- a gocr interface" />
    <link rel="stylesheet" type="text/css" href="/static/gen/style.css">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  </head>

  {% block body %}{% endblock %}
</html>

